*~
*.o
*.so
*.user
*.project
software/build/*
/software/software.kdev4
*.kate-swp
/software/.kdev4/software.kdev4
/software/pc/logs/*
/software/pc/config/local.ini
bin/
gen/
obj/
.classpath
.cproject
.settings
project.properties
hardware/*/*.b\#*
hardware/*/*.s\#*
*.class
*/*.class
/nbproject/private//software/avr/atmega324p/Total/include/#tot.hpp#
